@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(89, 37, 138);
    color: wheat;
    padding: 29px;
    font-size: 25px;
    font-family: 'Aboreto', cursive;
    align-items: center;
    display: flex;
    height: 25px;
}

nav ul{
    list-style-type: none;
}

.gameContainer{ 
    background-color: aqua;
    margin: auto;
    display: flex;
    padding: 25px;
    margin: 15px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,12vw);
    grid-template-rows: repeat(3,12vw) ;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.box{
    border: 3px solid rgb(14, 14, 59);
    font-size: 49px;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: antiquewhite;
}

.info {
    font-size: 22px;
}

.gameInfo{
    padding: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.gameInfo h1{
    font-size: 2.5rem;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset {
    margin: 0 23px;
    padding: 1px 18px;
    background: #f3e7f9;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2';
    font-size: 15px;
    font-weight: bolder;
}

.line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}